<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="sky-background">
    
    <h1>Location Information</h1>
    <form method="post">
        <label>Country Name:</label>
        <input type="text" name="country" placeholder="e.g. Pakistan" value="{{ request.form.country or '' }}" required>
        
        <label>City Name:</label>
        <input type="text" name="city" placeholder="e.g. Lahore" value="{{ request.form.city or '' }}" required>
        
        <div class="button-container">
            <button type="submit">Get Weather Report</button>
        </div>
    </form>

    <div class="weather-report">
        
        {% if weather_info %}
        <h2>Today's Weather in {{ weather_info.city }}, {{ weather_info.country }}</h2>
        <p><span class="emoji">🌡</span> Temperature: {{ weather_info.temp }} °C (Feels like {{ weather_info.feels_like }} °C)</p>
        <p><span class="emoji">🌡</span> Min / Max Temperature: {{ weather_info.min }} °C / {{ weather_info.max }} °C</p>
        <p><span class="emoji">☁</span> Condition: {{ weather_info.description }}</p>
        <p><span class="emoji">💧</span> Humidity: {{ weather_info.humidity }}%</p>
        <p><span class="emoji">💨</span> Wind Speed: {{ weather_info.wind_speed }} m/s</p>
        <p><span class="emoji">🌅</span> Sunrise : {{ weather_info.sunset }}</p>
        <p><span class="emoji">🌇</span> Sunset : {{ weather_info.sunrise }}</p>
        <p>Credits - Hammail</p>
        {% elif error_message %}
        <p style="color : red;">{{ error_message }}</p>
        {%else%}
        <p style="color: green;">Enter the valid country and city name to get the weather report!</p>
        {% endif %}
        
    </div>

</body>
</html>
